<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register in ToDoList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
</head>

<body style="background: url(images/2.gif)">
    <div class="reservation">
        <fieldset>
            <form class="form-horizontal" role="form" action="/register_post" method="POST">
                <div class="form-group">
                    <center>
                        <%= msg %>
                    </center>
                </div>
                <div class="form-group">
                    <label for="name" class="control-label">&nbsp;用户名：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" style="width: 200px">
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwd" class="control-label">&nbsp;密码：</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="passwd1" name="passwd1" placeholder="Password" style="width: 200px" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwd" class="control-label">&nbsp;确认密码：</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="passwd2" name="passwd2" placeholder="Password" style="width: 200px" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label">
                        &nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-danger">注册</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a type="button" class="btn btn-danger" href="/login">转到登陆</a>
                    </div>
                </div>


            </form>
        </fieldset>
    </div>
</body>

</html>